<ng-container *ngIf="usersState | async as state" [ngSwitch]="state.appState">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a
      ><button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            type="search"
            name="name"
            ngModel
            class="form-control me-2"
            placeholder="Search users"
            aria-label="Search"
          />
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
        <ng-container *ngSwitchCase="'APP_ERROR'">
          <!-- Exclamation Triangle Symbol -->
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
            <symbol
              id="exclamation-triangle-fill"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
              />
            </symbol>
          </svg>
          <div
            class="alert alert-danger d-flex align-items-center"
            role="alert"
          >
            <svg
              class="bi flex-shrink-0 me-2"
              width="24"
              height="24"
              role="img"
              aria-label="Danger:"
            >
              <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>There was an error</div>
          </div>
          <div class="container">
            <pre>
              <p class="card-text json-data">
                {{state.error | json}}
              </p>
            </pre>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'APP_LOADING'">
          <div class="d-flex justify-content-center mt-4">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div></ng-container
        >

        <ng-container *ngSwitchCase="'APP_LOADED'">
          <h3>User List</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Status</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let user of state.appData?.data?.page?.content;
                  let i = index
                "
              >
                <th scope="row">{{ user.id }}</th>
                <td>
                  <img
                    [src]="user.imageUrl"
                    width="42"
                    height="42"
                    class="rounded-circle"
                    [alt]="user.name + '\'s photo'"
                  />
                </td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>
                  <span
                    class="badge"
                    [ngClass]="[
                      user.status === 'ACTIVE' ? ' bg-success' : '',
                      user.status === 'PENDING' ? ' bg-primary' : '',
                      user.status === 'INACTIVE' ? ' bg-info' : '',
                      user.status === 'BANNED' ? ' bg-danger' : ''
                    ]"
                  >
                    {{ user.status }}
                  </span>
                </td>
                <td>{{ user.address }}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page item">
              <a class="page-link" href="#" aria-label="Previous">
                &laquo; Previous
              </a>
            </li>
            <li
              *ngFor="
                let pageNumber of [].constructor(
                  state.appData?.data?.page?.totalPages
                );
                let i = index
              "
              class="page-item"
            >
              <a class="page-link">{{ i + 1 }}</a>
            </li>
            <li class="page item">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">Next &raquo;</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</ng-container>
